<DOCTYPE!>
<!DOCTYPE html>
<html>
<head>
	<title>Rosel Final Exam</title>
	<link rel="icon" href="img/logo.png">
	
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
	 <link rel="stylesheet" type="text/css" href="css/app.css">
</head>
<body background="img/all.jpg">

<center>
<font size="5" face="Calibri Light" color="#808080">
		</font>

	<style>
	body{
		background:url(img/all.jpg)
		background-repeat: no-repeat;
		background-position: top center;
		background-size: cover;
		background-attachment: fixed;
	}
	</style>

<div id="app"></div>

script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>       
<script type="text/javascript" src="js/app.js"></script>

</body>
</html>