<DOCTYPE!>
<!DOCTYPE html>
<html>
<head>
	<title>Rosel Final Exam</title>
<link rel="icon" href="img/logo.png">
	<link rel="stylesheet" type="text/css" href="css/app5.css">
	 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
</head>
<<body background="img/all.jpg">
<font size="30" face="BankGothic" color="White">
<center>
	
	</font>

	<style>
	body{
		background:url(img/all.jpg)
		background-repeat: no-repeat;
		background-position: top center;
		background-size: cover;
		background-attachment: fixed;
	}
	</style>
<div id="app5"></div>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>       
<script type="text/javascript" src="js/app5.js"></script>
</body>
</html>