<!DOCTYPE html>
<html>
<head>
	<title>Rosel Final Exam</title>
<link rel="icon" href="img/logo.png">
</head>
<body background="img/all.jpg">
<link rel="icon" type="image/png" href="/assets/img/favicons/favicon-32x32.png" sizes="32x32">
 <link rel="icon" type="image/png" href="/assets/img/favicons/favicon-16x16.png" sizes="16x16">
<font size="30" face="BankGothic" color="White">
<center>
	<h1>WELCOME to the 
	Harry Potter Movie Series</h1>
	</font>

	<style>
	body{
		background:url(img/all.jpg)
		background-repeat: no-repeat;
		background-position: top center;
		background-size: cover;
		background-attachment: fixed;
	}
	</style>
	

<font size="10" face="Courier" color="blue">
<div class="sidebar-image-gallery">
			
             <a target="_blank" href="/app" alt="Harry Potter" title="Harry Potter and the Sorcerer's Stone"><h3>Chapter I</h3><h4>Harry Potter and the Sorcerer's Stone</h4><img src="img/app.jpg" width="250" height="350" style="border:5px solid red"></a>

             <a target="_blank" href="/app2" alt="Harry Potter" title="
Harry Potter and the Chamber of Secrets"><h3>Chapter II</h3><h4>Harry Potter and the Chamber of Secrets</h4><img src="img/app2.jpg" width="250" height="350" style="border:5px solid green"></a>

             <a target="_blank" href="/app3" alt="Harry Potter" title="Harry Potter and the Prisoner of Azkaban"><h3>Chapter III</h3><h4>Harry Potter and the Prisoner of Azkaban</h4><img src="img/app3.jpg" width="250" height="350" style="border:5px solid grey"></a>
 
             <a target="_blank" href="/app4" alt="Harry Potter" title="Harry Potter and the Goblet of Fire"><h3>Chapter IV</h3><h4>Harry Potter and the Goblet of Fire</h4><img src="img/app4.jpg" width="250" height="350" style="border:5px solid yellow"></a>

             <a target="_blank" href="/app5" alt="Harry Potter" title="Harry Potter and the Order of the Phoenix"><h3>Chapter V</h3><h4>Harry Potter and the Order of the Phoenix</h4><img src="img/app5.jpg" width="250" height="350" style="border:5px solid blue"></a>

             <a>============================================</a>
             <a>============================================</a>
             <a>============================================</a>

             <a target="_blank" alt="Harry Potter" title="Harry Potter and the Order of the Phoenix"><h4>Sidney Rosel</h4><h5>Click here to know the Author</h5><img src="img/me.jpg" width="250" height="350" style="border:5px solid blue"></a>
             <h6>Sidney Rosel is a 2nd year college student of University of Immaculate Conception. He is player of Badminton in there Department, and also he like to play Basketball. He is a friedly person, and caring person. You can follow his account in Twitter, Instagram, and Facebook </h6>
             Click <a href="https://www.facebook.com/sidney.rosel">here</a> to go to Facebook.<br>
             Click <a href="https://twitter.com/srosel28">here</a> to go to Twitter.<br>
             Click <a href="https://www.instagram.com/sidney_23/?hl=en">here</a> to go to Instagram.

</div>

<audio  autoplay>

  <source src="img/wel.ogg" type="audio/ogg">

  <source src="img/wel.mp3" type="audio/mpeg">

</audio>

</center>
</font>
</body>
</html>